<section class="best-sellers">
  <div class="titles">
    <h2 class="top-title">POUR YOUR BEST CUP WITH</h2>
    <h1 class="main-title">OUR BEST SELLERS</h1>
  </div>
  <div class="products">
    <%= image_tag "carrousel1.png", alt: "Product 1", class: "product-image" %>
    <%= image_tag "carrousel2.png", alt: "Product 2", class: "product-image" %>
    <%= image_tag "carrousel3.png", alt: "Product 3", class: "product-image" %>
    <%= image_tag "carrousel4.png", alt: "Product 4", class: "product-image" %>
  </div>
</section>
