<div class="hero-section">
  <div class="hero-content-center">
    <div class="hero-title">BREW ANYWHERE. BE ANYWHERE.</div>
    <div class="hero-description">
      <p class="hero-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</p>
    </div>
    <button class="cta-button">POUR ON THE GO</button>
  </div>
  <div class="explore-text">EXPLORE ↓</div>
</div>
