
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito::wght@100;300;400;600;700&display=swap');

// Colors
$bg-color: #f8f9fa;
$primary-text-color: #221F20;
$white-text-color: #ffffff;
$light-blue: #8db9ca;

// Spacings
$content-max-width: 1140px;
$padding-vertical: 8px; 
