
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito::wght@100;300;400;600;700&display=swap');

// Colors
$bg-color: #ffffff;
$primary-text-color: #221F20;
$white-text-color: #ffffff;
$light-blue: #8db9ca;
$life-coffee-bg: #f3f7f9;

// Spacings
$content-max-width: 1440px;
$padding-vertical: 8px; 
$padding-vertical-50: 50px; 
$margin-bottom: 20px;

